<div class="row" id="banner">
	<%= image_tag("media/0-0-2-4/snow_1.png", alt:"header snow area") %>
	<%= image_tag("media/0-0-2-4/forest_1.png", alt:"header forest area") %>
	<%= image_tag("media/0-0-2-4/snow_3.png", alt:"header snow area") %>
</div>

<h2 id="excite">Explore a mysterious, hostile planet to find out the meaning to your stay. <br> Extra lives sold seperately.</h2>

<div class="row" id="about-game">
	<div class="col-md-8 col-xs-11 body">
		<div class="row">
			<h1><strong>What is System Remnant?</strong></h1>
			<p>
				System Remnant is a sci-fi, platformer shooter that is currently in development for PC. 
				<br>
				<br>
				Follow a story about an exploration droid that is trying to get home, surviving hazardous environments and defeating powerful enemies along the way. 
				Discover altered locations, upgrade your droid with an extensive amount of modules, and most importantly, survive.  
			</p>
		</div>
		<div class="row" id="features-list">
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<h2>Altering Locations</h2>
					<p>Experience each area as the setting changes throughout the journey to the end.</p>
				</div>
				<div class="col-sm-4 col-xs-12">
					<h2>Many Modules</h2>
					<p>While you start off fresh, collect and upgrade with over 50 unique modules. These will buff stats and stack your abilities.</p>
				</div>
				<div class="col-sm-4 col-xs-12">
					<h2>Limited Lives</h2>
					<p>Death comes with a price, literally. Every time you die you will need to pay a fee that if cannot be afforded causes perma-death.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<h2>Dynamic Weapon</h2>
					<p>Your starting weapon will always start out the same. Although you will find modifiers that can drastically change how your weapon works.</p>
				</div>
				<div class="col-sm-4 col-xs-12">
					<h2>Varying Controls</h2>
					<p>Prefer a controller? No problem! Want to rebind your keys? Got you covered! System Remnant will be incredibly flexible when it to comes to gameplay choices.</p>
				</div>
				<div class="col-sm-4 col-xs-12">
					<h2>Randomly Regulated</h2>
					<p>In a way, every playthrough will be unique. Start and exit locations will be randomly chosen, loot spawns will be random, and of course, the loot itself will always be a surprise!</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" id="about-team">
	<div class="col-md-7 col-xs-11 body">
		<div class="row">
			<h1><strong>The Developer</strong></h1>
			<p>
				Currently, there is only one member creating System Remnant and that is me, Robert Jewell.
				<br>
				<h3>Robert Jewell</h3>
				
				Programming by day, Netflix binging by night. I'm the creator, programmer, and artist for System Remnant. In short, I pretty much have done everything
				up to this point. I'm currently a student at the University of Massachusetts Amherst studying Computer Science. Being my first game, I have been working 
				on this project for about 4 years now in my spare time. A lot of that time has been learning and reworking as my skills progressed, but now I am finally
				ready to finish what I started.
				<br>
				<br>
				Contact Email: <a href="mailto:robertjewell808@gmail.com"> robertjewell808@gmail.com</a>
			</p>
		</div>
	</div>
</div>

<div class="row" id="about-specs">
	<div class="col-md-7 col-xs-11 body">
		<div class="row">
			<h1><strong>Specifics</strong></h1>
			<table class="table table-hover">
				<tr>
					<td>Name:</td>
					<td>System Remnant</td>
				</tr>
				<tr>
					<td>Genre:</td>
					<td>2D, Platformer, Shooter</td>
				</tr>
				<tr>
					<td>Development State:</td>
					<td>Alpha</td>
				</tr>
				<tr>
					<td>Planned Platforms:</td>
					<td>Windows</td>
				</tr>
				<tr>
					<td>Release Date:</td>
					<td>TBD</td>
				</tr>
				<tr>
					<td>Game Engine:</td>
					<td>GameMaker Studio 1.4</td>
				</tr>
				<tr>
					<td>Website:</td>
					<td><a href="http://system-remnant.com" target="_blank">http://system-remnant.com</a></td>
				</tr>
				<tr>
					<td>Twitter:</td>
					<td><a href="https://twitter.com/system_remnant" target="_blank">@system_remnant</a></td>
				</tr>
				<tr>
					<td>Facebook:</td>
					<td><a href="https://www.facebook.com/SystemRemnant/" target="_blank">https://www.facebook.com/SystemRemnant/</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>