<div class="row" id="demo">
	<div class="col-xs-11 col-sm-9 col-md-7" id="body">
		<h1>Play the Demo</h1>
		<div class="row">
			<div class="col-sm-7">
				<h4>WARNING: This version of the game is very outdated and does not reflect the final game at all!</h4>
				<br>
				<br>
				Goal of the Demo:
				<ol>
					<li>Find the spinning diamond</li>
					<li>Shoot it until a glowing ball comes out</li>
					<li>Bring the ball to the two white pillars</li>
					<li>Exit level by standing inbetween the pillars</li>
				</ol>
				
				<br>
				
				<p class="center">
					ALPHA 0.0.2.3 DEMO (8/23/2016)
					<br>
					<a class="btn btn-default center-text" href="https://drive.google.com/file/d/0B9bgF9yn3ek-cGJ3bzh0bGhlZkk/view" role="button" target="_blank">Download Demo</a>
				</p>
				
				<table class="table">
					<tr>
						<th>Action</th>
						<th>Keyboard</th>
						<th>Gamepad</th>
					</tr>
					<tr>
						<td>Movement</td>
						<td>Arrow Keys</td>
						<td>Left Thumbstick</td>
					</tr>
					<tr>
						<td>Jump</td>
						<td>Spacebar</td>
						<td>A Button</td>
					</tr>
					<tr>
						<td>Shoot</td>
						<td>Z Key</td>
						<td>Right Trigger</td>
					</tr>
					<tr>
						<td>Reload/Interact</td>
						<td>X Key</td>
						<td>X Button</td>
					</tr>
					<tr>
						<td>Dodge</td>
						<td>C Key</td>
						<td>Left Bumper</td>
					</tr>
					<tr>
						<td>Ability</td>
						<td>V Key</td>
						<td>Right Bumper</td>
					</tr>
					<tr>
						<td>Pause</td>
						<td>ESC Key</td>
						<td>Start Button</td>
					</tr>
					<tr>
						<td>Select</td>
						<td>Enter Key</td>
						<td>A Button</td>
					</tr>
					<tr>
						<td>Back</td>
						<td>ESC Key</td>
						<td>B Button</td>
					</tr>
				</table>
				*Keys are not rebindable yet
				<!--
				<p class="center">
					<a class="btn btn-default center-text btn-full" href="https://goo.gl/forms/fdnSuK6dVX5jHq6J3" role="button" target="_blank">Take Gameplay Survey</a>
				</p>
				-->
				</div>
			<div class="col-sm-5">
				<%= image_tag('demo/d_1.png', alt: "System Remnant Demo Image 1")%>
				<%= image_tag('demo/d_2.png', alt: "System Remnant Demo Image 2")%>
				<%= image_tag('demo/d_3.png', alt: "System Remnant Demo Image 3")%>
			</div>
		</div>
	</div>
	
	<div class="col-xs-11 col-sm-9 col-md-7" id="body">
		<h1>Demo Changelog</h1>
		<div class="panel panel-default">
		  <div class="panel-body">
		  <pre>
V.0.0.2.3
======================
- Fixed Particle Crash
			</pre>
		  </div>
		</div>
	</div>
</div>