<div class="row article-section">
	<h1>What's New?</h1>
	<p>
		A ton of stuff has happened between now and last August but for this article, I'm going to just focus on the website. For one it's not as ugly anymore so that's an improvement, then we have the more organized areas of News, About, Media, and Demo. Each of these has been rebuilt completely to present their information better. 
		<br><br>
		The Homepage and News have been combined into one now so that the first thing you see will be the latest updates on what's what. Then we have the About page where walls of texts were shortened and now focus on the more important ideas. I'll focus on the details later when the game gets further into development. 
		<br><br>
		Now the Media page has been cleaned up and sorts images by the build they were taken in. This will hopefully clean-up any confusion on what's an old screenshot and what's current. 
		<br><br>
		Finally, we have the new Demo page. Here you're able to download the latest demo build and try it out yourself! You can also report feedback on your playthrough.
	</p>
</div>
<div class="row article-section">
	<h1>The Future</h1>
	<p>
		So I'm hoping to update the site with a new article at least once every two weeks. This way I'll have plenty of time to work on the game as well as post progress more frequently than the what seems like "yearly" videos. 
		<br><br>
		While this article was a bit short, the next one will be a lot longer as I cover all the progress I've made since the demo build. Trust me, it's a lot!
	</p>
</div>