<div class="row article-section">					
	<h1>Scrap</h1>
	<p>
		So replacing what was a generic dollar currency before is the new scrap system that will consist of 4 new sub-currencies, each with their 
		own purpose.
	</p>
	
	<%= image_tag('articles/log-2/scraps.png', class: "width-50-center", alt: "System Remnant Scrap")%>

	<p class="center"><strong style="color:#EC7979;">Screw - Metal - Chip - Crystal</strong></p>
	
	<p>
		While each scrap’s individual purpose is not quite final, they will be able to act in their own unique ways. For instance, the crystal might 
		be able to either be saved for when the player may need reviving or can be used to purchase a legendary status Module. The choice is up to the player!
	</p>
</div>

<div class="row article-section">					
	<h1>Loot Containers</h1>
	<p>
		Before there were just chests that could be looted and while fun to open, seeing them everywhere made them lose that special feeling. So now there will
		be a selection of loot containers to be found in System Remnant. From crates that you can shoot to gambling machines that can shoot you!
	</p>

	<%= image_tag('articles/log-2/loot_containers.png', class: "center", alt: "System Remnant Loot Containers")%>

	<p>
		<strong style="color:#EC7979;">Crate -</strong> Most common out of the containers, this crate contains a variance of loot from Scrap to Modules. 
		Just shoot it enough to see what’s inside!<br>
		<br>
		<strong style="color:#EC7979;">Chest -</strong> While not found as easily as crates, these chests can be found scattered throughout the land. Just open 
		them up to get a chance at some higher-tiered loot.<br>
		<br>
		<strong style="color:#EC7979;">Gambler -</strong> Be careful of this one, while it can be an easy way to get a handful of powerful Modules, it can also 
		easily drain your virtual wallets. Also just a fair warning, I wouldn’t recommend hassling with this machine...<br>
		<br>
		This is just the beginning to a plethora of varied containers that can be found in the world of System Remnant. 
	</p>
</div>

<div class="row article-section">					
	<h1>Meet S.A.R.</h1>
	<%= image_tag('articles/log-2/sar_landing.gif', class: "width-75-center", alt: "System Remnant EOD gif landing")%>
	<p>
		Standing for Supply, Ammo, and Repairs this bot is the only other one to have survived the crash onto planet Kyrosi. As the name applies, he will help you rebuild, 
		upgrade, and hopefully get home.<br>
		<br>
		While there isn’t much more I can say for now, I can say there are big plans for S.A.R. and how he’ll play a major role.
	</p>
</div>

<div class="row article-section">					
	<h1>Future Changes</h1>
	<p>
		Now that we finally finished covering everything in the previous build we can focus some time on what’s coming next.
		<br>
		<br>
		So one of the bigger aspects that is being changed is how the levels will work. The plan is to rather than have them be setup in a linear order, you 
		will be able to choose which area you’d like to visit based on what’s available.
		<br>
		<br>
		It’ll work by having 4 areas being randomly selected from the available areas and with each playthrough you’ll have a chance at playing a completely
		different set of levels.
		<br>
		<br>
		Along with that, I wanted to make the time spent in between levels more interactive so now instead of a menu, there is a HUB world that connects these areas.
		<br>
		<br>
		Here’s a peek at what’s to come:
	</p>
	<%= image_tag('articles/log-2/HUB_peek.png', alt: "System Remnant HUB")%>
	<p>
		While that covers what I’ve been working on recently there is still a ton that has not been talked about yet. I hope you enjoyed this week’s Dev Log and
		come back for the next!
		<br>
		<br>
		Also keep in mind that everything shown off, not only today, may change over time or even be replaced completely. The game is still in a state where
		anything and everything can change but what you see now should be a pretty good idea of what’s to come.
		<br>
		<br>
		Once again be sure to follow me on Twitter for the latest updates on my game and my pretty mundane life (<a href="https://twitter.com/RobertTheJewell" target="_blank">@RobertTheJewell</a>)
	</p>
</div>