<p>
	While news has been quite low recently, I have finally made part 5 of my video dev log series
	allowing it to be caught up with the written logs that are posted here. Stay tuned for more news coming soon!
</p>
<div class="row article-section">
	<div class="yt-video">
		<iframe width="480" height="270" src="https://www.youtube.com/embed/jwLVlTyqvVU" frameborder="0" allowfullscreen></iframe>
	</div>
</div>