#main-logo img{
	display: block;
	margin: auto;
	margin-top: 30px;
	width: 80%;
	max-width: 600px;
	 text-shadow: 10px 10px 5px #888888;
}

#articles{
	margin-top: 20px;
}

#articles #body{
	margin: auto;
	float: none;
}

.article{
	background-color: transparent !important;
	border-radius: 0px;
	border: 0px;
	box-shadow: 0 0 0px rgba(0,0,0,.05) !important;
}

.article .panel-heading{
	background-color: transparent !important;
	border-bottom: 0px;
	padding-left: 0px;
	padding-bottom: 10px;
}

.article .panel-body{
	background-color: #2C2235;
}

.article a{
	color: #A483C2;
}

.article a:hover{
	color: white;
}

.article h1{
	font-weight: bold;
	font-size: 32pt;
	margin-bottom: 10px;
}

@media(max-width: 625px)
{
	.article h1{
		font-size: 20pt;
	}
}

.article h2{
	font-size: 12pt;
	color: white;
	margin: 0;
}

.article img{
	width: 100%;
	padding: 15px;
}

.article p{
	padding: 15px;
	margin: 0;
}

.article .read-more-link{
	padding-left: 15px;
}


.article h1{
	color: #9B8EA5;
}

.article-section h1{
	padding-left: 15px;
	margin-bottom: 0px;
}

.article-section p{
	padding-left: 30px;
}

.article .width-50{
	width: 50%;
	float: left;
	padding: 5px;
}

.article .width-50-center{
	width: 50%;
	float: none;
	padding: 5px;
	margin: auto;
	display: block;
}

.article .width-75-center{
	width: 75%;
	float: none;
	padding: 5px;
	margin: auto;
	display: block;
}

.article .yt-video{
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	margin: 0 30px;
	height:0;
	overflow:hidden;
}

.yt-video iframe, .yt-video object, .yt-video embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.article .module-panels {
	display: flex;

	.panel {
		height: 100%;
	}

	.panel-body {
		height: 91%;
	}

	.panel-title {
		text-align: center;
		font-weight: bold;
	}

	.panel-body p {
		text-align: center;
	}

	img {
		image-rendering: pixelated;
	}

	div {
		flex: 1;
	}
}